.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.description {
    max-width: 90vw;
    min-width: 80vw;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.first-fade {
    opacity: 0;
}

.second-fade {
    opacity: 0;
}

.third-fade {
    opacity: 0;
}

.side-by-side {
    width: 30vw;
    height: 30vh;
}

.character-div {
    display: inline;
    cursor: pointer;
    max-height: 1.5rem;
}

@keyframes character-hover-in {
    0% {
        color: white;
    }
    100% {
        color: lightseagreen;
    }
}

@keyframes character-hover-out {
    0% {
        color: lightseagreen;
    }
    100% {
        color: white;
    }
}

body {
    background-color: #242424;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: start;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

button {
    background-color: #242424;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
    transition: all is ease;
    transition-duration: 0.2s;
}

button:hover {
    background-color: white;
    color: #242424
}

button:disabled {
    background-color: #242424;
    border: 2px solid lightgrey;
    border-radius: 5px;
    color: lightgrey;
    cursor: default;
    font-size: 1.5rem;
    padding: 10px;
}

html {
    animation-fill-mode: forwards;
    font-size: 75%;
    height: 100%;
    overflow-x: hidden;
}
  
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

i {
    background-color: #242424;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 3rem;
    padding: 5px;
    transition: all is ease;
    transition: 0.2s;
}

i:hover {
    background-color: white;
    color: #242424;
}

input {
    background-color: #242424;
    border: 2px solid white;
    border-color: lightgrey;
    border-radius: 5px;
    color: white;
    filter: drop-shadow(0 0 0 white);
    font-size: large;
    transition: all is ease;
    transition: 0.5s;
}

input:hover {
    filter: drop-shadow(0.1rem 0.1rem 0.5rem white);
}

textarea {
    background-color: #242424;
    border: 2px solid white;
    border-color: lightgrey;
    border-radius: 5px;
    color: white;
    filter: drop-shadow(0 0 0 white);
    font-size: large;
    max-width: 80vw;
    padding: 5px;
    resize: none;
    transition: all is ease;
    transition-duration: 0.5s;
}

textarea:focus {
    filter: drop-shadow(0.1rem 0.1rem 0.5rem white);
}

::placeholder {
    color: lightgrey;
}

input::placeholder {
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #242424;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

@media screen and (min-width: 480px) {
    .description {
        max-width: 85vw;
        min-width: 70vw;
    }
    html {
        font-size: 85%;
    }
}

@media screen and (min-width: 640px) {
    .description {
        max-width: 70vw;
        min-width: 60vw;
    }
    html {
      font-size: 100%;
    }
}

@media screen and (min-width: 800px) {
    .description {
        max-width: 60vw;
        min-width: 50vw;
    }
}

@media screen and (min-width: 1000px) {
    .description {
        max-width: 50vw;
        min-width: 40vw;
    }
    .side-by-side {
        height: 25vh;
        width: 25vw;
    }
}

@media screen and (min-width: 1200px) {
    .description {
        max-width: 40vw;
        min-width: 30vw;
    }
    .side-by-side {
        height: 20vh;
        width: 20vw;
    }
}